/* CSS cho HopDong (bảng) */
table{
    width: 80%; /* Chiều rộng của bảng */
    border-collapse: collapse; /* Gộp viền các ô của bảng */
    margin-left: 250px;
    margin-top: 50px;
}

th, td {
    border: 1px solid #ddd; /* Viền cho mỗi ô */
    padding: 8px; /* Khoảng cách giữa nội dung và viền của ô */
    text-align: center;
    width: auto; /* Canh lề nội dung */
}

th {
    background-color: #f2f2f2; /* Màu nền cho ô tiêu đề */
    color: black; /* Màu chữ cho ô tiêu đề */
}

/* css cho button "Thêm" */
.button-container {
    justify-content: flex-start; /* Hiển thị Phong (bảng) ở bên phải */
    align-items: flex-start; /* Hiển thị Phong (bảng) ở phía trên */
    margin-top: 20px; /* Đảm bảo Phong (bảng) không che phủ Header */
    margin-left: 250px; /* Đảm bảo Phong (bảng) không bị che bởi Sidebar */
}

.add-button {
    margin-bottom: 15px; /* Khoảng cách dưới của button "Thêm" */
}

.action-button {
    margin-left: 10px;
}

/* Tùy chỉnh chiều rộng của các cột */
th:nth-child(1),
td:nth-child(1) {
    width: 5%; /* Chiều rộng cột ID */
}

th:nth-child(2),
td:nth-child(2) {
    width: 10%; /* Chiều rộng cột Date */
}

th:nth-child(3),
td:nth-child(3) {
    width: 25%; /* Chiều rộng cột Descripton */
}

th:nth-child(4),
td:nth-child(4) {
    width: 10%; /* Chiều rộng cột price */
}

th:nth-child(5),
td:nth-child(5) {
    width: 10%; /* Chiều rộng cột Room */
}

th:nth-child(7),
td:nth-child(7) {
    width: 30%; /* Chiều rộng cột Action */
}


  