/* CSS cho HopDong (bảng) */
table{
    width: 80%; /* Chiều rộng của bảng */
    border-collapse: collapse; /* Gộp viền các ô của bảng */
    margin-left: 250px;
    margin-top: 50px;
}

th, td {
    border: 1px solid #ddd; /* Viền cho mỗi ô */
    padding: 8px; /* Khoảng cách giữa nội dung và viền của ô */
    text-align: center;
    width: auto; /* Canh lề nội dung */
}

#tdPhone{
    border: 1px solid #ddd; /* Viền cho mỗi ô */
    padding: 8px; /* Khoảng cách giữa nội dung và viền của ô */
    text-align: center;
    width: auto; /* Canh lề nội dung */
    width: 5%;
}

#tdRoom{
    border: 1px solid #ddd; /* Viền cho mỗi ô */
    padding: 8px; /* Khoảng cách giữa nội dung và viền của ô */
    text-align: center;
    width: auto; /* Canh lề nội dung */
    width: 10%;
}

#tdAction{
    border: 1px solid #ddd; /* Viền cho mỗi ô */
    padding: 8px; /* Khoảng cách giữa nội dung và viền của ô */
    text-align: center;
    width: auto; /* Canh lề nội dung */
    width: 15%;
}

th {
    background-color: #f2f2f2; /* Màu nền cho ô tiêu đề */
    color: black; /* Màu chữ cho ô tiêu đề */
}

#thPhone{
    background-color: #f2f2f2; /* Màu nền cho ô tiêu đề */
    color: black; /* Màu chữ cho ô tiêu đề */
    width: 5%;
}

#thRoom{
    background-color: #f2f2f2; /* Màu nền cho ô tiêu đề */
    color: black; /* Màu chữ cho ô tiêu đề */
    width: 10%;
}

#thAction{
    background-color: #f2f2f2; /* Màu nền cho ô tiêu đề */
    color: black; /* Màu chữ cho ô tiêu đề */
    width: 15%;
}

/* css cho button "Thêm" */
.button-container {
    justify-content: flex-start; /* Hiển thị Phong (bảng) ở bên phải */
    align-items: flex-start; /* Hiển thị Phong (bảng) ở phía trên */
    margin-top: 20px; /* Đảm bảo Phong (bảng) không che phủ Header */
    margin-left: 250px; /* Đảm bảo Phong (bảng) không bị che bởi Sidebar */
}

.add-button {
    margin-bottom: 15px; /* Khoảng cách dưới của button "Thêm" */
}

.action-button {
    margin-left: 10px;
}

/* Tùy chỉnh chiều rộng của các cột */
th:nth-child(1),
td:nth-child(1) {
    width: 5%; /* Chiều rộng cột ID */
}

th:nth-child(2),
td:nth-child(2) {
    width: 10%; /* Chiều rộng cột title */
}

th:nth-child(3),
td:nth-child(3) {
    width: 25%; /* Chiều rộng cột description */
}

/* th:nth-child(4),
td:nth-child(4) {
    width: 10%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 10%; 
} */

/* th:nth-child(7),
td:nth-child(7) {
    width: 30%;
} */
/* Add these styles to your existing CSS file or create a new one */
.pagination-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
    margin-right: 50px;
  }
  
  .pagination-container button {
    margin: 0 5px; /* Adjust margin as needed */
  }



  